<footer>
	
	<div class="row">
		<div class="col col-12">
			<div class="auto-margin center">
				<a href="#" class="a-nav">	
				<img src="Assets/FB.png" class="s-media auto-margin">
				</a>
				<a href="#" class="a-nav">
				<img src="Assets/Twitter.png" class="s-media auto-margin">
				</a>
				<a href="#" class="a-nav">
				<img src="Assets/Insta.png" class="s-media auto-margin">
				</a>	
		</div>
	</div>
	<div class="row">
		<div class="col col-12">
			<div class="col col-3 auto-margin center address">
				2108 S. Lamar Blvd. &nbsp;Austin, TX
			</div>
		</div>	
	</div>
</footer>
