<header class="site-header">
	<div class="row">
		<div class="col col-12">
			<div class="wrap-sheep">
			<a href="index.html">
				<img src="Assets/Black-Sheep.gif" class="sheep">
			</a>	
			</div>
		</div>
	</div>

	<div class="row">
      <div class="col col-12 auto-margin">
        <div class="nav-bar">
          <ul class="ul-nav-bar">
            <a href="menu.html" class="a-nav">
              <li class="li-nav-bar">Menu</li>
            </a>
            <a href="#" class="a-nav"> 
              <li class="li-nav-bar">Specials</li>
            </a>  
            <a href="#" class="a-nav">  
              <li class="li-nav-bar">Location</li>
            </a>  
             <a href="#" class="a-nav"> 
              <li class="li-nav-bar">Events</li>
            </a> 
             <a href="#" class="a-nav"> 
              <li class="li-nav-bar">Contact</li>
            </a>  
          </ul>
        </div>
      </div>
    </div>    
</header>
